/* FONTS */

@font-face {
    font-family: "Whitney";
    src: url("../font/WhitneyBook.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Whitney";
    src: url("../font/WhitneyBold.ttf");
    font-weight: 900;
}

/* GLOBAL */

html, body {
    width: 100%;
    min-height: 100%;
    position: relative;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Whitney", serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.page-limiter {
    max-width: 1000px;
}

.on-mobile {
    display: none;
}

.on-desktop {
    display: block;
}

/* MAIN HEADER */

body > header {
    padding: 30px;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

body > header > section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

body > header > section.header-left-part {
    flex: 1;
}

body > header > section.header-right-part {
    justify-content: flex-end;
    margin-left: 30px;
}

body > header nav ul li {
    list-style: none;
    display: inline-block;
    color: var(--secondary-text-color);
    margin-left: 30px;
    font-size: 16px;
}

body > header nav ul li a {
    transition: all 0.2s;
}

body > header nav ul li a:hover {
    color: var(--primary-text-color);
}

body > header nav ul li:first-child {
    margin-left: 0;
}

body > header nav ul li.high-link {
    color: var(--primary-text-color);
    position: relative;
}

body > header nav ul li .new-label {
    position: absolute;
    top: -14px;
    right: -14px;
    padding: 1px 3px;
    background: #fff;
    color: var(--grey-text-color);
    border-radius: 3px;
    font-size: 12px;
}

.separator {
    width: 2px;
    height: 14px;
    background: rgba(255, 255, 255, 0.15);
}

.header-left-part .separator {
    margin: 0 30px;
}

.header-right-part .separator {
    margin: 0 20px;
}

.translate-button-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.translate-button-container .arrow {
    position: relative;
    width: 6px;
    height: 6px;
    background: transparent;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
    margin-left: 10px;
}

/* BOUTONS */

button {
    border: none;
    background: transparent;
    outline: none;
}

.small-button {
    padding: 6px 18px;
}

.big-button {
    padding: 16px 25px;
    min-width: 200px;
}

.primary-button {
    background: #f16e2e;
    color: var(--primary-text-color);
    font-size: 16px;
}

.white-button {
    background: #fff;
    color: var(--grey-text-color);
    font-size: 16px;
}

.secondary-button {
    background: transparent;
    border: 2px solid #fff;
    color: var(--primary-text-color);
    font-size: 16px;
}

.rounded-box {
    border-radius: 3px;
}

.full-rounded-box {
    border-radius: 100px;
}

/* MAIN */

body > main {
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
    margin: 30px 30px 0 30px;
    flex: 1;
}

p {
    color: var(--secondary-text-color);
}

h1, p {
    margin-bottom: 30px;
}

p {
    line-height: 24px;
}

.align-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.h-space {
    width: 30px;
    height: 30px;
}

/* BACKGROUND */

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.background-radial-gradient, .background-filter, .background-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.background-radial-gradient {
    background: var(--background-radial-gradient);
    z-index: 3;
}

.background-filter {
    background: var(--background-filter);
    z-index: 2;
}

.background-img {
    z-index: 1;
}

.background-img img {
    filter: saturate(0.2);
    object-fit: cover;
    width: 100%;
    height: 100%;
}