{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>WATCHIZ - {% block title %}{% endblock %}</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block css_content %}

    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/var.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
<header>
    <section class="header-left-part">
        <a href="{% url 'index_view' %}">
            <img src="{% static 'img/global/logo.png' %}" alt="logo" class="logo">
        </a>
        <div class="separator on-desktop"></div>
        <nav class="on-desktop">
            <ul>
                <li>
                    <a href="{% url 'list_movies_view' %}">Liste des films</a>
                </li>
                <li>
                    <a href="">Nouveautés</a>
                </li>
                <li>
                    <a href="">Catégories</a>
                </li>
                <li>
                    <a href="">Réalisateurs</a>
                </li>
                <li>
                    <a href="">Top 2019</a>
                </li>
                <li class="high-link">
                    <a href="">Movie generator
                        <div class="new-label">new</div>
                    </a>
                </li>
                <li>Aide</li>
            </ul>
        </nav>
    </section>
    <section class="header-right-part">
        {% if user.is_authenticated %}
            <a href="{% url 'logout_view' %}">
                <button class="small-button red-button full-rounded-box">Se déconnecter</button>
            </a>
        {% else %}
            <a href="{% url 'login_view' %}">
                <button class="small-button secondary-button full-rounded-box">Se connecter</button>
            </a>
        {% endif %}
        <div class="separator"></div>
        <div class="translate-button-container">
            <img src="{% static 'img/global/icon/translate.svg' %}" alt="">
            <div class="arrow"></div>
        </div>
    </section>
</header>
<main>
    {% block main_content %}

    {% endblock %}
</main>
<div class="background-container">
    <div class="background-radial-gradient"></div>
    <div class="background-filter"></div>
    <div class="background-img">
        <img src="" class="dynamic-background" id="dynamicBackground" alt="background">
        {% if object is not None %}
            <img src="{{ object.background }}" alt="background">
        {% else %}
            <img src="{% static 'img/global/background-test.png' %}" alt="background">
        {% endif %}
    </div>
</div>
{% block javascript_content %}

{% endblock %}
</body>
</html>