{% extends 'base.html' %}
{% block title %}
    Connexion
{% endblock %}
{% block main_content %}
    <div class="page-limiter">
        <h1>Se connecter</h1>
    </div>
    <form method="post" role="form" action="/connexion/">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Utilisateur">
        <input type="password" name="password" placeholder="Mot de passe">
        <button type="submit" class="big-button white-button rounded-box">Valider</button>
    </form>
{% endblock %}